<a href="https://colab.research.google.com/github/Hainguyendangduc/PythonForDataAnalysis/blob/main/04_Grouping_Alcohol_Consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/thieu1995/csv-files/blob/main/data/pandas/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/drinks.csv")

In [ ]:
print(df)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [ ]:
df["country"][df["beer_servings"]>df["beer_servings"].mean()]

3             Andorra
4              Angola
6           Argentina
8           Australia
9             Austria
            ...
182    United Kingdom
184               USA
185           Uruguay
188         Venezuela
189           Vietnam
Name: country, Length: 76, dtype: object

In [ ]:
df.loc[:,"country"][df.loc[:,"beer_servings"]>df.loc[:,"beer_servings"].mean()]

3             Andorra
4              Angola
6           Argentina
8           Australia
9             Austria
            ...
182    United Kingdom
184               USA
185           Uruguay
188         Venezuela
189           Vietnam
Name: country, Length: 76, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
df['continent'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [ ]:
print("AS",df[df["continent"]=='AS']["wine_servings"].sum())
print("AF",df[df["continent"]=='AF']["wine_servings"].sum())
print("OC",df[df["continent"]=='OC']["wine_servings"].sum())
print("EU",df[df["continent"]=='EU']["wine_servings"].sum())
print("SA",df[df["continent"]==('SA')]["wine_servings"].sum())

AS 399
AF 862
OC 570
EU 6400
SA 749

### Step 6. Print the mean alcohol consumption per continent for every column

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

ValueError: ignored

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame